@import "tailwindcss";

:root {
  --primary-bg: #C3EAEA;
  --primary-bg-text: #000000;
  --secondary-bg: #F4BE4D;
  --secondary-bg-text: #000000;
  --dark-bg: #292929;
  --dark-bg-text: #ffffff;
}

@theme {
  --color-primary-bg: var(--primary-bg);
  --color-primary-bg-text: var(--primary-bg-text);
  --color-secondary-bg: var(--secondary-bg);
  --color-secondary-bg-text: var(--secondary-bg-text);
  --color-dark-bg: var(--dark-bg);
  --color-dark-bg-text: var(--dark-bg-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #1b384b;
    --primary-bg-text: #f4be4d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
